.buses{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font: 14px 
}

.bus{
    display: flex;
    padding: 5px 15px 15px 15px ;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    color: #7e7e8c;
}

.bus-div:hover{
    box-shadow: 0px 5px 5px #aaa;
}

.col_names{
    display: flex;
    list-style: none;
    padding: 0px;
    margin-left: 120px;
    margin-bottom: 0px;
}

.col_names li{
    width: 90px;
    margin-right: 10px;
}

.bold,.italic{
    font-size: large;
    font-weight: 600;
    color: black;
}

.italic{
    margin: 0 10px;
}

.ratings_div{
    background-color: rgb(218, 165, 32, 0.5);
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: small;
}

.arrival_time{
    color: #3e3e52;
    font-size: 19px;
}

.ratings{
    color: black;
}

.travels_name{
    width: 150px;
}

.departure,.arrival,.fare,.duration,.ratings_div{
    width: 80px;
    margin-right: 10px;
}

.seats{
    width: 150px;
}

.bus-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(177, 169, 169, 0.3);
    margin: 10px 10px;
}

.book_btn{
    margin-left: auto;
    margin-top: 10px;
}

.book_btn>label{
    margin-right: 10px;
}

.book_btn>select{
    margin-right: 20px;
}

.btn{
    background-color: #d84e55;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}
