.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #d84f57;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: large;
}